# Requerimientos y documentación — Matías
/01_Requerimientos/ @matiasgarridopinto
/Documentos/ @matiasgarridopinto
/Evidencias/ @matiasgarridopinto

# Gestión, arquitectura, base de datos y backend — Rafael
/02_Arquitectura/ @RafaOteiza
/03_Backend/ @RafaOteiza
/05_BaseDatos/ @RafaOteiza

# Frontend web y aplicación móvil — Luis
/04_Frontend/ @luis26001
/07_Mobile/ @luis26001

# Componentes compartidos
/06_ModelosIA/ @RafaOteiza
/08_Pruebas/ @RafaOteiza @matiasgarridopinto @luis26001
/README.md @RafaOteiza @matiasgarridopinto @luis26001
